*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
  flex-direction: column;
    background-color: black;
    font-family: times new roman; 
}

.parent-flex /*Detta är conteinern för alla flexboxes*/
{
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
  }

.parent-flex > * 
{
    padding: 20px;
}

.child1 /*Conteinern för headern*/
{
  position: sticky;
  top: 0;
    height: 100px;
    background: black;  
    order: 1;
    
}

.headerTitle
{
  color: white;
  padding: 10px;
  margin-left: 40px;
    text-align: left; 
    letter-spacing: 2px;
    display: inline-block;
}

/* Här börjar menyn: Style The Dropdown Button */
.menyn
{
float: right; 
margin-right: 40px;

}

.hamburgare {
    background-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  .line 
{
    width: 25px; 
    height: 1.5px; 
    background: white;
    margin: 5px;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Gömd genom display none) */
  .dropdown-content {
    text-align: left; 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* länkar inne i menyn */
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Ändrar färg på menylänkarna när man hovrar över dem */
  .dropdown-content a:hover {background-color: #bebdbd8e;}
  
  /* Visa menyn när man hovrar över meny */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #bebdbd;
  }


/*Tredje barnet i flex-conteinern: bilddelen som ligger i en grid*/
.child3
{
background-color: #f1f1f1; 
order: 3;
}

/*Grid conteinern*/
@supports (display: grid){
    main{
       max-width: 10000px;
        margin: 0; 
    }
    
/*Här finns hela koden för Grid*/
  .gridPictures
    {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
        grid-gap: 0.5rem; 
    }
}

/*Djurbilderna*/
.bildStorlek
{
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1rem;
}

.bildStorlek img
{
  max-width: 600px;
  max-height: 375px;
  border-radius: 20px;
}


/*Footer-sektionen*/
.footer
{
  padding: 20px;
    height: 130px;
    background-color: black;  
    order: 4;
   }

footer 
{
    text-align: center;
    font-size: 12px;
}

/* Kod för javascript så att ett meddelande går ut när man klickar på "skicka" knappen*/
.reply
{
  font-size: 12px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}
.reply-active
{
    visibility: visible; 
    opacity: 1;
}


/* Här börjar CSS för javascriptet "prenumerera på vårt nyhetsbrev!" */ 

.button /*Prenumerera-knappen*/
{
margin: 15px; 
padding: 10px 30px; 
background-color: rgb(199, 194, 194);  
box-shadow: 2px 2px rgb(27, 18, 2);
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
}

.button:hover /*När man hovrar över prenumerera knappen*/
{
background-color: rgb(223, 219, 219);
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
}



.button-bg /*popupen lägger sig över hela sidan*/
{
  position: fixed;
  width: 100%;
  height: 100vh; 
  top: 0; 
  left: 0;
  background-color:rgb(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items:center;  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}

.bg-active /*popup-rutan blir synlig*/
{
  visibility: visible; 
  opacity: 1;
}

.popup h2{
  color: black;
  font-size: 14px;
  margin: 15px;
}

.popup /*Själva popup-rutan*/
{
  position: relative;
  font-family: times new roman; 
  background-color:white; 
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items:center; 
  flex-direction: column; 
  border-radius: 20px;
}

.popUpButton /*Knappen på popupen*/
{
      margin: 20px; 
      padding: 10px 30px; 
      background-color: rgb(199, 194, 194); 
      border: none; 
      font-family: times new roman; 
      cursor: pointer; 
      border-radius: 36px;
      }
      
      .popUpButton:hover /*När man hovrar över popup-prenumerera-knappen*/
      {
      margin: 20px; 
      padding: 10px 30px; 
      background-color: rgb(223, 219, 219);
      /*border: none; */
      font-family: times new roman; 
      cursor: pointer; 
      border-radius: 36px;
    }

.tack
{
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}

.tack-active
{
  visibility: visible; 
  opacity: 1;
}

.x-close {
  position: absolute;
  top: 10px;
  right: 13px; 
  font-family: times new roman; 
  font-size: 8px;
  cursor: pointer;
}



@media only screen and (max-width: 600px) {

  .headerTitle{font-size: 1em;}

 


/*Djurbilderna*/
  .bildStorlek img
{
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.gridPictures
    {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 0.5rem; 
    }

.footer
{
  min-height: 150px;
}


}