*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
display: flex;
flex-direction: column;
background-color: white;
font-family: arial; 
}


  header {
    background-image: url(img/night.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    height: 250px; 
    position: relative; 
}  

.header-title{
  color: white; 
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 4px;

}
 

 /*Här börjar all kod för animerade menyn*/

.nav-links
{
  display: flex;
  list-style: none;
  width: 100%;
  height: 50%;
  justify-content: space-around; 
  align-items: center;
  margin-left: auto;
 }

.nav-links li a 
{
  color:white;
  text-decoration: none; 
  font-size: 16px;
}

.nav-links a:focus
{
  padding: 10px;
border: 2px solid white;
outline: none;
}

@media screen and (min-width: 769px)
{
  .hamburger{
    display: none;
  }

  ul{
      background-color: black;
      padding: 20px;
  }

  .nav-links a:hover{
    color: orange;
  }

  .nav-links a:focus{
    border: 1px solid white;
    color: orange;
  }
}

@media screen and (max-width: 768px)
{
  .line {
      width: 30px;
      height: 3px;
      margin: 5px;
      background: white;
      display: block;
  }

  nav {
      position: relative;
  }

  .hamburger {
      position: absolute; 
      cursor: pointer; 
      right: 5%; 
      top: 50%; 
      transform: translate(-5%, -50%);
      z-index: 2;
     background-color: rgba(0, 0, 0, 0);
      border: none;
  }

.hamburger:focus
{
  border: 2px solid white; 
color: white;
outline: none;
}

.nav-links{
      position: fixed; 
      background: black;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(80px at 90% -10%);   
      transition: all 1s ease-out; 
      pointer-events: none;
  }
.nav-links.open {
      clip-path: circle(1000px at 90% -10%); 
      pointer-events: all; 
  }

  .nav-links a:hover{
    color: orange;
  }

  .nav-links li {
      opacity: 0;
  }

  .nav-links li a {
      font-size: 20px;
  }

  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.3s; 
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.6s; 
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.9s; 
  }
  li.fade{
      opacity: 1;
  }
}

/*Grid conteinern*/
@supports (display: grid){
    main{
       max-width: 10000px;
        margin: 0; 
    }
    
/*Här finns hela koden för Grid*/
  .gridPictures
    {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem; 
    }
}

/*Djurbilderna*/
.pictures
{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;  
  padding: 2rem;
}

.pictures img
{
  cursor: pointer;
  max-width: 400px;
  max-height: 170px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Footer-sektionen*/
footer
{
  padding: 20px;
    height: 130px;
    background-color: black;  
    order: 4;
    text-align: center;
    font-size: 12px;
   }

.footerText
{
  color: white; 
}

/* Här börjar CSS för javascriptet "prenumerera på vårt nyhetsbrev!" */ 

.button /*Prenumerera-knappen*/
{
  margin: 15px; 
  padding: 10px 30px; 
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.856), 0 0 25px rgba(255, 255, 255, 0.808), 0 0 5px rgba(255, 255, 255, 0.815);
  background-image: linear-gradient(rgb(223, 218, 213), rgb(119, 115, 109));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid rgba(255, 255, 255, 0.603);
  border: none; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 36px;
  transition: width 2s, height 2s, transform 2s;
  }

  .button:focus
{
  border: 2px solid rgba(255, 255, 255, 0.801); 
  padding: 20px;
  outline: none;
  text-decoration: underline;
}

.button:hover /*När man hovrar över prenumerera knappen*/
{
border: none;    
cursor: pointer; 
border-radius: 36px;
transform: rotate(360deg);
text-decoration: underline;
}

.button-bg /*popupen lägger sig över hela sidan*/
{
  position: fixed;
  width: 100%;
  height: 100vh; 
  top: 0; 
  left: 0;
  background-color:rgb(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items:center;  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}

form label
{
  display: block;
  color: black;
  font-size: 16px;
}

form input[type="text"], input[type="email"] {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form input[type="text"]:focus, input[type="email"]:focus
  {
    border: 3px solid black;
    outline: none; 
  }

.bg-active /*popup-rutan blir synlig*/
{
  visibility: visible; 
  opacity: 1;
}

.popup h2{
  color: black;
  font-size: 14px;
  margin: 20px;
}

.popup /*Själva popup-rutan*/
{
  position: relative;
  background-color:white; 
  min-width: 30%;
  min-height: 30%;
  display: flex;
  justify-content: space-around;
  align-items:center; 
  flex-direction: column; 
  border-radius: 20px;
}


.popUpButton /*Knappen på popupen*/
{
  margin: 20px; 
  padding: 10px 30px; 
  background-image: linear-gradient(rgb(215, 218, 89), rgb(140, 189, 77));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid rgba(255, 255, 255, 0.603); 
  border-top: none;
  cursor: pointer; 
  border-radius: 36px;
  }

  .popUpButton:focus
  {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.884); 
    text-decoration: underline;
    font-size: 16px;
  }

      .popUpButton:hover /*När man hovrar över popup-prenumerera-knappen*/
      {
        margin: 20px; 
        padding: 10px 30px; 
        background-image: linear-gradient(rgb(215, 218, 89), rgb(140, 189, 77));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 2px solid rgba(255, 255, 255, 0.603); 
        border-top: none;
        cursor: pointer; 
        border-radius: 36px;
        text-decoration:underline;
        } 

.thankYou
{
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
  display: block;
}

.thankYou-active
{
  visibility: visible; 
  opacity: 1;
}

.x-close {
  position: absolute;
  top: 10px;
  right: 13px; 
  font-size: 8px;
  cursor: pointer;
}
.x-close:focus{
  font-size: 14px;
  padding: 5px;
  border: 1px solid black;
  outline: none;
}


@media only screen and (max-width: 600px) {

.headerTitle{font-size: 1em; margin-left: 10px}

.meny{
  margin-top: 10px;
}

/*Djurbilderna*/
  .pictures img
{
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.gridPictures
    {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 0.5rem; 
    }

.footer
{
  min-height: 150px;
}
}

/* Till JavaScripts valideringen*/

.invalidMessage{
  color: red; 
}
.invalidForm{
  border: 1px solid red;
  color: red; 
}

/*Texterna till djurbilderna*/ 
.animalText{
  margin: 5px;
  padding: 10px;
}
