*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
  flex-direction: column;
    font-family: times new roman; 
}


.parent-flex /*Detta är conteinern för alla flexboxes*/
{
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
  }

.parent-flex > * 
{
    padding: 20px;
}

.child1 /*Conteinern för headern*/
{
    height: 100px;
    background: black; 
    order: 1;
    position: sticky;
    top: 0;   
}


.headerTitle
{
  color: rgb(199, 194, 194);
  padding: 10px;
  margin-left: 40px;
    text-align: left; 
    letter-spacing: 2px;
    display: inline-block;
  
}

/* Här börjar menyn: vart menyn ska vara i headern */
.meny
{
float: right; 
margin-right: 40px;
}

.hamburger {
  cursor: pointer;
  background: black;
  border: none; 
 }

 .hamburger:focus {
   border: 2px solid white; 
 }

.line 
{
  width: 25px; 
  height: 1.5px; 
  background: white;
  margin: 5px;
  display: block;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Gömd genom display none) */
  .dropdown-content {
    text-align: left; 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* länkar inne i menyn */
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Ändrar färg på menylänkarna när man hovrar över dem */
  .dropdown-content a:hover {background-color: #bebdbd8e;}
  
  /* Visa menyn när man hovrar över meny */
  .dropdown:hover .dropdown-content {

    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #bebdbd;
  }

/*Bilden på kontakt-sidan*/
.headerPicture
{
  order: 2;
  margin: 0;
  padding: 0;
}

.headerPicture img 
{
  position: relative;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
   z-index: -1;
 
}

  /*flexbox - barn 3 med forumläret*/
.contactForm{
    background: #f1f1f1; 
    order: 3;
    text-align: center;
 }

/*Här börjar koden för Kontakt formuläret*/ 
fieldset 
{
  padding: 20px;
  background-color:rgb(199, 194, 194); 
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Gör att input-rutorna är mjuka i kanterna*/
fieldset input[type="text"], input[type="tel"], input[type="email"]
{
padding: 7px 30px 7px 2px;
border-radius: 4px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bio{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

form input[type="text"]
{
  padding: 7px 30px 7px 2px;
  border-radius: 4px;
  margin-bottom: 15px;
}
form input:focus
  {
    border: 3px solid black; 
  }

form label
{
  font-size: 14px;
  display: block;
  color: black;
  margin-bottom: 10px;
}

fieldset input:focus
  {
    border: 3px solid black; 
  }

.bio:focus
  {
    border: 3px solid black; 
  }

/*CSS animation*/
@keyframes example {
  from {font-weight: normal;}
  to {font-weight: bold;}
}

/*Fyll i formuläret, så kommer vi att höra av oss!*/
legend
{

font-size: 20px;
margin-bottom: 40px;
padding: 10px;
letter-spacing: 0.1em;
animation-name: example;
animation-duration: 8s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

/*Om man fyller i korrekt uppgifter i formuläret blir rutorna gröna*/
form input#name:valid:not(:placeholder-shown){border: 2px solid rgb(33, 141, 33);}
form input#contactEmail:valid:not(:placeholder-shown){border: 2px solid rgb(33, 141, 33);}
form input#phone:valid:not(:placeholder-shown){border: 2px solid rgb(33, 141, 33);}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

/*Obligatoriska fält-texten*/
#required
{
  padding: 10px;
  font-family: 'Times New Roman';
  font-size: 10px;
  }

  /*textrutan i kontakt forumläret */ 
.bio 
{
  margin-top: 20px;
  border-radius: 4px;
}

.sendButton
{
    font-family: 'Times New Roman'; 
    font-size: 14px;
    color: black;
    Padding: 7px 12px;
    border-radius: 36px;
    text-decoration: none;
    background-image: linear-gradient(rgb(215, 218, 89), rgb(140, 189, 77));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.541); 
    border-top: none;
    cursor: pointer; 
  }

  .sendButton:focus
  {
    font-size: 16px;
    text-decoration: underline;
    border-radius: 36px;
    border: 2px solid white;
    outline: none;
  }
  
  .sendButton:hover
  {
    font-family: 'Times New Roman';
    Padding: 7px 12px;
    color: rgb(22, 21, 21);
    font-size: 14px;
    text-decoration: underline;
  }


/*Footer-sektionen*/
.child4
{
  padding: 20px;
  min-height: 130px;
  background-color: black;  
  order: 4; 
}

footer 
{
  color: rgb(199, 194, 194);
  text-align: center;
  font-size: 12px;
}

.footerText
{
  color: white; 
}


/* Kod för javascript så att ett meddelande går ut när man klickar på "skicka" knappen*/
.reply
{
  font-size: 12px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}
.reply-active
{
    visibility: visible; 
    opacity: 1;
}


/* Här börjar CSS för javascriptet "prenumerera på vårt nyhetsbrev!" */ 

.button /*Prenumerera-knappen*/
{
margin: 15px; 
padding: 10px 30px; 
text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.795), 0 0 25px rgba(255, 255, 255, 0.712), 0 0 5px rgba(255, 255, 255, 0.795);
background-image: linear-gradient(rgb(199, 194, 194), rgb(116, 117, 114));
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: 2px solid rgba(255, 255, 255, 0.603);
border: none; 
font-family: times new roman; 
font-size: 16px;
cursor: pointer; 
border-radius: 36px;
transition: width 2s, height 2s, transform 2s;
}

.button:focus
{
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.801); 
  padding: 20px;
  text-decoration: underline;
}

.button:hover /*När man hovrar över prenumerera knappen*/
{
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
transform: rotate(360deg);
text-decoration: underline;
}

.button-bg /*popupen lägger sig över hela sidan*/
{
  position: fixed;
  width: 100%;
  height: 100vh; 
  top: 0; 
  left: 0;
  background-color:rgb(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items:center;  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}

.bg-active /*popup-rutan blir synlig*/
{
  visibility: visible; 
  opacity: 1;
}

.popup h2{
  color: black;
  font-size: 14px;
  margin: 20px;
}

.popup /*Själva popup-rutan*/
{
  color: black;
  position: relative;
  font-family: times new roman; 
  background-color:white; 
  min-width: 30%;
  min-height: 30%;
  display: flex;
  justify-content: space-around;
  align-items:center; 
  flex-direction: column; 
  border-radius: 20px;
}


.popUpButton /*Knappen på popupen*/
{
  margin: 20px; 
  padding: 10px 30px; 
  background-image: linear-gradient(rgb(215, 218, 89), rgb(140, 189, 77));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid rgba(255, 255, 255, 0.603); 
  border-top: none;
  font-family: times new roman; 
  cursor: pointer; 
  border-radius: 36px;
  }
      
      .popUpButton:hover /*När man hovrar över popup-prenumerera-knappen*/
      {
        margin: 20px; 
        padding: 10px 30px; 
        background-image: linear-gradient(rgb(215, 218, 89), rgb(140, 189, 77));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 2px solid rgba(255, 255, 255, 0.603); 
        border-top: none;
        font-family: times new roman; 
        cursor: pointer; 
        border-radius: 36px;
        text-decoration:underline;
        }

        .popUpButton:focus
        {
          outline: none;
          border: 2px solid rgba(255, 255, 255, 0.801); 
          text-decoration: underline;
          font-size: 16px;
        }


.thankYou
{
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
  display: block;
  
}

.thankYou-active
{
  visibility: visible; 
  opacity: 1;
}

.x-close {
  position: absolute;
  top: 10px;
  right: 13px; 
  font-family: times new roman; 
  font-size: 8px;
  cursor: pointer;
}
.x-close:focus{
  font-size: 14px;
  padding: 5px;
  border: 1px solid black;
}



@media only screen and (max-width: 600px) {

  .headerTitle{font-size: 1em; margin-left: 0; margin-top: 19px; padding: 0;}

  .meny{margin-right: 0px;}


}