*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
  flex-direction: column;
    background-color: black;
    font-family: times new roman; 
}

.parent-flex /*Detta är conteinern för alla flexboxes*/
{
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
  }

.parent-flex > * 
{
    padding: 20px;
}

.child1 /*Conteinern för headern*/
{
  position: sticky;
  top: 0;
    height: 100px;
    background: black;  
    order: 1; 
}
 

.headerTitle
{
  color: white;
  text-shadow: 2px 2px 4px orange;
  padding: 10px;
  margin-left: 40px;
    text-align: left; 
    letter-spacing: 2px;
    display: inline-block;
}

/* Här börjar menyn: Style The Dropdown Button */
.meny
{
float: right; 
margin-right: 40px;
}


.hamburger {
    background-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }



/*CSS animation*/
@keyframes hamburgerMeny {
  from {background-color: white;}
  to {background-color: orange;}
}

  .line 
{
    width: 25px; 
    height: 1.5px; 
    background: white;
    box-shadow: 1px 1px 3px orange;
    margin: 5px;
    animation-name: hamburgerMeny;
  animation-duration: 7s;
  animation-iteration-count: 3;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  
  /* Dropdown Content (Gömd genom display none) */
  .dropdown-content {
    text-align: left; 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* länkar inne i menyn */
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Ändrar färg på menylänkarna när man hovrar över dem */
  .dropdown-content a:hover {background-color: #bebdbd8e;}
  
  /* Visa menyn när man hovrar över meny */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #bebdbd;
  }

  /*Sektionen med bild*/
.bigPicture
{
margin: 0;
padding: 0;
order: 2;
margin-bottom: 50px;
}

.bigPicture img 
{
  position: relative;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
   z-index: -1;
 
}

/*Tredje conteinern: Textdelen*/
.child3
{
  min-height: 300px;
    background-color: black; 
    order: 3;
}


.textSection
{
  display: flex;
  flex-direction: row; 
}

/*För att verkligen markera vart man tab:ar på hemsidan*/
.textInfo a:focus
{
  border: 1px solid white; 
  padding: 10px;
  font-size: 16px;
  color: white;
}

.textInfo
{
  color: white;
  border-style: dotted;
  border-top: none;
  border-bottom: none; 
  border-right: none;
  margin: 10px;
  text-align: left;
  padding: 30px;
  line-height: 24px;
}

.textInfo h2
{
  margin-bottom: 13px;
  text-shadow: 2px 2px 4px orange;
}

/*Footer-sektionen*/
.footer
{
 
  padding: 20px;
    height: 130px;
    background-color: rgb(156, 90, 13);  
    
  
   }

footer 
{
    text-align: center;
    font-size: 12px;
}

/* Kod för javascript så att ett meddelande går ut när man klickar på "skicka" knappen*/
.reply
{
  font-size: 12px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}
.reply-active
{
    visibility: visible; 
    opacity: 1;
}


/* Här börjar CSS för javascriptet "prenumerera på vårt nyhetsbrev!" */ 

.button /*Prenumerera-knappen*/
  {
    margin: 15px; 
    padding: 10px 30px; 
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.774), 0 0 25px rgba(255, 255, 255, 0.623), 0 0 5px rgba(255, 255, 255, 0.747);
    background-image: linear-gradient(rgb(230, 149, 57), rgb(138, 79, 12));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.404);
    border-top: none; 
    font-family: times new roman;
    font-size: 16px;
    cursor: pointer; 
    border-radius: 36px;
    transition: width 2s, height 2s, transform 2s;
    }

    .button:focus
    {
      border: 2px solid rgba(255, 255, 255, 0.801); 
      padding: 20px;
      outline: none;
    }

.button:hover /*När man hovrar över prenumerera knappen*/
{
margin: 20px; 
padding: 10px 30px; 
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
transform: rotate(360deg);
text-decoration: underline;
}

.button-bg /*popupen lägger sig över hela sidan*/
{
  position: fixed;
  width: 100%;
  height: 100vh; 
  top: 0; 
  left: 0;
  background-color:rgb(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items:center;  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}

.bg-active /*popup-rutan blir synlig*/
{
  visibility: visible; 
  opacity: 1;
}

.popup h2{
  font-size: 14px;
  margin: 20px;
}

/*Gör att input-rutorna är mjuka i kanterna*/
form input[type="text"], input[type="email"]
{
padding: 7px 30px 7px 2px;
border-radius: 4px;
margin-top: 10px;
margin-bottom: 10px;
}

form input:focus
  {
    border: 3px solid black; 
  }

form label
{
  display: block;
  color: black;
}



.popup /*Själva popup-rutan*/
{
  position: relative;
  font-family: times new roman; 
  background-color:white; 
  min-width: 30%;
  min-height: 30%;
  display: flex;
  justify-content: space-around;
  align-items:center; 
  flex-direction: column; 
  border-radius: 20px;
}

.popUpButton /*Knappen på popupen*/
{
      margin: 20px; 
      padding: 10px 30px; 
      background-image: linear-gradient(rgb(215, 218, 89), rgb(140, 189, 77));
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 2px solid rgba(255, 255, 255, 0.603); 
      border-top: none;
      font-family: times new roman; 
      cursor: pointer; 
      border-radius: 36px;
      }

      .popUpButton:focus
{
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.801); 
  text-decoration: underline;
  font-size: 16px;
}
      
      .popUpButton:hover /*När man hovrar över popup-prenumerera-knappen*/
      {
        margin: 20px; 
        padding: 10px 30px; 
        background-image: linear-gradient(rgb(215, 218, 89), rgb(140, 189, 77));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 2px solid rgba(255, 255, 255, 0.603); 
        border-top: none;
        font-family: times new roman; 
        cursor: pointer; 
        border-radius: 36px;
        text-decoration:underline;

        }

.thankYou
{
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
  display: block;
}

.thankYou-active
{
  visibility: visible; 
  opacity: 1;
}

.x-close {
  position: absolute;
  top: 10px;
  right: 13px; 
  font-family: times new roman; 
  font-size: 8px;
  cursor: pointer;
}


@media only screen and (max-width: 1024px) {
  .meny
  {
  float: right; 
  margin-right: 200px;
    }
}

@media only screen and (max-width: 1366px) {
  .meny
  {
  float: right; 
  margin-right: 40px;
    }
}


@media only screen and (max-width: 600px) {

  .headerTitle{font-size: 1em;}

  .textSection
{
  display: block;
  flex-direction: row;
}

footer{min-height: 150px;}
}

@media only screen and (max-width: 300px) {

  .child1{min-width: 100%;}

  .headerTitle{font-size: 1em;}

}