*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
  flex-direction: column;
    background-color: #f1f1f1;
    font-family: times new roman; 
}

.parent-flex /*Detta är conteinern för alla flexboxes*/
{
    min-height: 100vh;
    border: 0px 20px 0px 20px solid #f1f1f1; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
  }

.parent-flex > * 
{
    padding: 20px;
}

.child1 /*Conteinern för headern*/
{
  position: sticky;
  top: 0;
    height: 100px;
    background: rgba(68, 107, 4, 0.61); 
    box-shadow: 3px 3px rgba(53, 83, 3, 0.678);
    order: 1;
    
}

.headerTitle
{
  padding: 10px;
  margin-left: 40px;
    text-align: left; 
    letter-spacing: 2px;
    display: inline-block;
}

/* Här börjar menyn: Style The Dropdown Button */
.menyn
{
float: right; 
margin-right: 40px;

}

.hamburgare {
    background-color: #f1f1f1;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .line 
{
    width: 25px; 
    height: 1.5px; 
    background: black;
    margin: 5px;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Gömd genom display none) */
  .dropdown-content {
    text-align: left; 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* länkar inne i menyn */
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Ändrar färg på menylänkarna när man hovrar över dem */
  .dropdown-content a:hover {background-color: #bebdbd8e;}
  
  /* Visa menyn när man hovrar över meny */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #bebdbd;
  }

  /*Sektionen med bild*/
.main
{
   height: 400px;
    background: #f1f1f1; 
    order: 2;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 50px;
}

main img 
{
    width: 300px;
    height: 400px;
   
}

/*Tredje conteinern: Textdelen*/
.child3
{

    background-color: rgba(68, 107, 4, 0.61); ; 
    order: 3;
    flex-grow: 1;
  

}
.child3 p{
  margin: 10px;
  text-align: left;
}

/*Footer-sektionen*/
.child4
{
   margin-top: 50px;
    height: 130px;
    background-color: rgba(68, 107, 4, 0.61); ; 
    order: 4;
   
}

footer 
{
    text-align: center;
}

/*Copyright 2020*/
.footerText
{
  font-size: 12px;
}

/* Kod för javascript så att ett meddelande går ut när man klickar på "skicka" knappen*/
.reply
{
  font-size: 12px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}
.reply-active
{
    visibility: visible; 
    opacity: 1;
}


/* Här börjar CSS för javascriptet "prenumerera på vårt nyhetsbrev!" */ 

.button /*Prenumerera-knappen*/
{
margin: 20px; 
padding: 10px 30px; 
background-color: rgba(0,0,0,0.2);
box-shadow: 2px 2px rgba(46, 45, 44, 0.664); 
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
}

.button:hover /*När man hovrar över prenumerera knappen*/
{
margin: 20px; 
padding: 10px 30px; 
background-color: rgb(207, 202, 195);
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
}

.button-bg /*popupen lägger sig över hela sidan*/
{
  position: fixed;
  width: 100%;
  height: 100vh; 
  top: 0; 
  left: 0;
  background-color:rgb(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items:center;  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}

.bg-active /*popup-rutan blir synlig*/
{
  visibility: visible; 
  opacity: 1;
}

.popup h2{
  font-size: 14px;
  margin: 15px;
}

.popup /*Själva popup-rutan*/
{
  position: relative;
  font-family: times new roman; 
  background-color:white; 
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items:center; 
  flex-direction: column; 
  border-radius: 20px;
}

.popUpButton /*Knappen på popupen*/
{
      margin: 20px; 
      padding: 10px 30px; 
      background-color: rgba(55, 88, 3, 0.705); 
      border: none; 
      font-family: times new roman; 
      cursor: pointer; 
      border-radius: 36px;
      }
      
      .popUpButton:hover /*När man hovrar över popup-prenumerera-knappen*/
      {
      margin: 20px; 
      padding: 10px 30px; 
      background-color: rgba(68, 107, 4, 0.61);
      /*border: none; */
      font-family: times new roman; 
      cursor: pointer; 
      border-radius: 36px;
    }

.tack
{
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}

.tack-active
{
  visibility: visible; 
  opacity: 1;
}

.x-close {
  position: absolute;
  top: 10px;
  right: 13px; 
  font-family: times new roman; 
  font-size: 8px;
  cursor: pointer;
}
